<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bodybuilder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DE9837C1E034376001BFC7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DE983901E034377001BFC7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DE9839B1E034377001BFC7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
